.carousel{
  a{
    background-image: none!important;
    color: $grey-4;
    opacity: 1;
    text-shadow: none;

    &:hover{
      color: darken($grey-4, 10%);
    }
  }

  i{
    position: absolute;
    top: 50%;
    color: rgba(255,255,255,.6);

    &:hover{
      color: $paper;
    }
  }

  .carousel-inner{
    .item{
      img{
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}