//Colors
$paper:             #ffffff;

// lightest
$grey-1:						#EAECEE;
$grey-2:						#D5D8DC;
$grey-3:						#556574;
$grey-4:						#273748;
$grey-5:						#1C2833;
// darkest

$brand:							#40CAB0;